In [1]:
import pandas as pd
import os
import json

In [2]:
path = r'/Users/ericcollins/Documents/Python/Fitbit_Project/MyFitbitData/EricCollins/Physical Activity/'
df = pd.DataFrame()
for file in os.listdir(path):
    filepath = (path+'/'+file)
    if file.startswith('distance-') & file.endswith('.json'):
        data = pd.read_json(filepath)
        df = pd.concat([df,data])
df = df.sort_values(by='dateTime')

In [3]:
import datetime as dt
df['dateTime']=pd.to_datetime(df['dateTime'])
df['date'] = df['dateTime'].dt.date
df['time'] = df['dateTime'].dt.time

In [4]:
df.groupby('date').sum()

             value
date
2022-01-05   71900
2022-01-06  628170
2022-01-07  577540
2022-01-08  482890
2022-01-09  168330
...            ...
2022-06-08  588650
2022-06-09  538050
2022-06-10  518900
2022-06-11  407830
2022-06-12  312780

[157 rows x 1 columns]

In [ ]:

import sqlite3

con = sqlite3.connect("fitbit_data.db")



# Write the new DataFrame to a new SQLite table
df.to_sql("Zone_Minutes", con, if_exists="replace")

con.close()