In [1]:
import pandas as pd
import os
import json

In [2]:
path = r'/Users/ericcollins/Documents/Python/Fitbit_Project/MyFitbitData/EricCollins/Physical Activity/'
df = pd.DataFrame()
for file in os.listdir(path):
    filepath = (path+'/'+file)
    if file.startswith('heart_rate-') & file.endswith('.json'):
        data = pd.read_json(filepath)
        df = pd.concat([df,data])
df = df.sort_values(by='dateTime')

In [7]:
import datetime as dt
df['dateTime']=pd.to_datetime(df['dateTime'])
df['date'] = df['dateTime'].dt.date
df['time'] = df['dateTime'].dt.time

In [4]:
df.groupby('date').sum()

             value
date
2022-01-05   71900
2022-01-06  628170
2022-01-07  577540
2022-01-08  482890
2022-01-09  168330
...            ...
2022-06-08  588650
2022-06-09  538050
2022-06-10  518900
2022-06-11  407830
2022-06-12  312780

[157 rows x 1 columns]

In [3]:
df.head(10)

             dateTime                         value
0 2022-01-05 03:22:08  {'bpm': 70, 'confidence': 0}
1 2022-01-05 03:22:14  {'bpm': 70, 'confidence': 0}
2 2022-01-05 03:22:30  {'bpm': 70, 'confidence': 0}
3 2022-01-05 03:22:45  {'bpm': 70, 'confidence': 1}
4 2022-01-05 03:22:50  {'bpm': 67, 'confidence': 2}
5 2022-01-05 03:22:58  {'bpm': 65, 'confidence': 1}
6 2022-01-05 03:23:13  {'bpm': 67, 'confidence': 1}
7 2022-01-05 03:23:18  {'bpm': 65, 'confidence': 1}
8 2022-01-05 03:23:28  {'bpm': 65, 'confidence': 0}
9 2022-01-05 03:23:33  {'bpm': 70, 'confidence': 2}

In [11]:
df_final = pd.concat([df.drop(['value'], axis=1), df['value'].apply(pd.Series)], axis=1)