In [2]:
import pandas as pd
import os
import json
print('test')

In [3]:
path = r'/Users/ericcollins/Documents/Python/Fitbit_Project/MyFitbitData/EricCollins/Physical Activity/'
df = pd.DataFrame()
for file in os.listdir(path):
    filepath = (path+'/'+file)
    if file.startswith('calories-') & file.endswith('.json'):
        data = pd.read_json(filepath)
        df = pd.concat([df,data])
df = df.sort_values(by='dateTime')

In [4]:
import datetime as dt
df['dateTime']=pd.to_datetime(df['dateTime'])
df['date'] = df['dateTime'].dt.date
df['time'] = df['dateTime'].dt.time

In [5]:
df.groupby('date').sum()

              value
date
2022-01-04  1746.36
2022-01-05  2464.60
2022-01-06  2392.74
2022-01-07  2353.63
2022-01-08  2451.22
...             ...
2022-06-08  2355.48
2022-06-09  2870.13
2022-06-10  2857.36
2022-06-11  2488.21
2022-06-12  1219.28

[160 rows x 1 columns]

In [ ]:

import sqlite3

con = sqlite3.connect("fitbit_data.db")



# Write the new DataFrame to a new SQLite table
df.to_sql("Zone_Minutes", con, if_exists="replace")

con.close()

In [ ]:
print("feature-a branch test 2")