In [1]:
import pandas as pd
import os
import json

In [2]:
path = r'/Users/ericcollins/Documents/Python/Fitbit_Project/MyFitbitData/EricCollins/Physical Activity/'
df = pd.DataFrame()
for file in os.listdir(path):
    filepath = (path+'/'+file)
    if file.startswith('steps-') & file.endswith('.json'):
        data = pd.read_json(filepath)
        df = pd.concat([df,data])
df = df.sort_values(by='dateTime')

In [20]:
import datetime as dt
df['date_time']=pd.to_datetime(df['date_time'])
df['date'] = df['date_time'].dt.date
df['time'] = df['date_time'].dt.time

In [23]:
df.groupby('date').sum()

            total_minutes
date
2022-01-05             27
2022-01-06             23
2022-01-07             18
2022-01-08             21
2022-01-10             23
...                   ...
2022-04-18             23
2022-04-19             24
2022-04-20             29
2022-04-21             29
2022-04-22             14

[77 rows x 1 columns]

In [ ]:

import sqlite3

con = sqlite3.connect("fitbit_data.db")



# Write the new DataFrame to a new SQLite table
df.to_sql("Zone_Minutes", con, if_exists="replace")

con.close()